LOGGING_MODE=text

GRPC_HOST=0.0.0.0
GRPC_PORT=50051

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth
DB_SSL=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

JWT_SECRET_KEY=dev-jwt-secret-key-change-in-prod!!
ACCESS_TOKEN_EXPIRATION=3600
REFRESH_TOKEN_EXPIRATION=86400
