HOST=0.0.0.0
PORT=8000
LOGGING_MODE=text
TIMEOUT=10s

AUTH_HOST=localhost
AUTH_GRPC_PORT=50051
AUTH_TIMEOUT=10

SUB_HOST=localhost
SUB_GRPC_PORT=50052

AI_HOST=localhost
AI_GRPC_PORT=50053

COMMON_PUB_KEY=secret
